<h1>Seja bem vindo!</h1>
<!-- <p>Henrique Marques</p>
<p>A soma é <%= 1+1 %></p>
<p>Seu nome inverso é <%= "Henrique".reverse %></p>
<% a = "variável" %>
<p>Imprimindo a variável a: <%= a %></p>
<p>A data de hoje é <%= Date.today %></p> -->

<p>O idiota utilizado nessa aplicação é: <strong><%= locale %></strong></p>

<p><%= I18n.t('hello') %></p>

<p><strong>Data:</strong> <%= I18n.l(Date.today) %></p>

<%= render "menu" %>

<p>
  Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>