<div id="<%= dom_id mining_type %>">
  <form>
    <fieldset disabled>
      <div class="form-group">
        <label><%= MiningType.human_attribute_name(:description) %></label>
        <input type="text" class="form-control" placeholder=<%= mining_type.description %>>
      </div>
      <div class="form-group">
        <label><%= MiningType.human_attribute_name(:description) %></label>
        <input type="text" class="form-control" placeholder=<%= mining_type.acronym %>>
      </div>    
    </fieldset>
  </form>
</div>
<br>
