<h1><%= t('show.mining_type') %></h1>

<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= button_to t('links.delete'), @mining_type, method: :delete, class:"btn btn-danger" %>
  <br>
  <%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-warning" %> |
  <%= link_to t('links.back'), mining_types_path, class:"btn btn-primary" %>
</div>
