<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <h4>Teste Cabeçalho</h4>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <h5>Teste Rodapé</h5>
  </footer>
</html>
