<div id="<%= dom_id coin %>">
  <form>
    <fieldset disabled>
      <div class="form-group">
        <label><%= Coin.human_attribute_name(:description) %></label>
        <input type="text" class="form-control" placeholder=<%= coin.description %>>
      </div>
      <div class="form-group">
        <label><%= Coin.human_attribute_name(:acronym) %></label>
        <input type="text" class="form-control" placeholder=<%= coin.acronym %>>
      </div>
      <div class="form-group">
        <label><%= Coin.human_attribute_name(:image_url) %></label>
        <input type="text" class="form-control" placeholder=<%= coin.image_url %>>
      </div>
      <div class="form-group">
        <label><%= Coin.human_attribute_name(:mining_type) %></label>
        <select id="disabledSelect" class="form-control">
          <option><%= coin.mining_type.description %></option>
        </select>
      </div>      
    </fieldset>
  </form>
</div>
<br>
