<div id="<%= dom_id coin %>">
  <p>
    <strong><%= Coin.human_attribute_name(:description) %>:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:acronym) %>:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:image_url) %>:</strong>
    <%= image_tag coin.image_url, size: "25x25" %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:mining_type) %>:</strong>
    <%= coin.mining_type.description %>
  </p>

</div>
