<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar esta moeda", edit_coin_path(@coin) %> |
  <%= link_to "Voltar para Moedas", coins_path %>

  <%= button_to "Apagar esta moeda", @coin, method: :delete %>
</div>
